<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99359722785-jin7s6riairp1u7dc245ealre72l1u4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99359722785-jin7s6riairp1u7dc245ealre72l1u4a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>99359722785-uhtonb4m4kq0pkhj5h4uifmkpili8v0h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDK81w4KU0wthsJ8Dy4gti9v8hEPjtUPr8</string>
	<key>GCM_SENDER_ID</key>
	<string>99359722785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unmaze.app</string>
	<key>PROJECT_ID</key>
	<string>unmaze-testapp-signup</string>
	<key>STORAGE_BUCKET</key>
	<string>unmaze-testapp-signup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99359722785:ios:26ee337c77db155f304260</string>
</dict>
</plist>